

/* ==========================================================================
    custom styles
   ========================================================================== */

body{
	padding-top: 10px;
	padding-bottom: 20px;
    font-family: 'Open sans', sans-serif;
    color:#2d3c49;
}

hr{
	color:#2d3c49;

}

.name-class{
	letter-spacing: 2px;
	
}

.featured-header{
	color:#7d97ad;
}










